üöÄ Project Initialization   
This repository is the starting point of my Titanic Data Analysis project. The goal is to explore the Titanic dataset, clean and preprocess the data, perform exploratory analysis, and build predictive models to understand which factors influenced passenger survival.   
-------------
üì¶ Next Steps   
- Set up the project structure (data, notebooks, src, reports).  
- Install the required Python libraries.  
- Begin exploratory data analysis (EDA).
-------------
‚öôÔ∏è Required Libraries:

In [ ]:
%pip install pandas numpy matplotlib seaborn scikit-learn jupyterlab nbconvert imblearn -q

üîπ Next Steps: 

- Read the CSV file using pandas.  
- Inspect the first few rows and basic information (.head(), .info(), .describe()).  
- Begin exploratory data analysis (EDA).

In [6]:
import pandas as pd

data = r"D:\Desktop\Analysis_Titanic\Titanic-analysis\data\titanic.csv"

df = pd.read_csv(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB